
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Financy</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="nav navbar-nav">
			{% if session.logged_in %}
      <li class="nav-item">
        <a class="nav-link" href="/office/{{session.uid}}">Kontoret<span class="sr-only">(current)</span></a>
      </li>
			<li class="nav-item">
				<a class="nav-link" href="/employees">Arbejdere<span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/">Markedet<span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/">Finansiering<span class="sr-only">(current)</span></a>
			</li>
			{% endif %}
    </ul>

		<div class="collapse navbar-collapse" id="navbarNav">

		</div>
		<ul class="navbar-nav">
			{% if session.logged_in %}
				<li class="nav-item"><a class="nav-link" href="/logout">Log ud</a></li>
			{% else %}
				<li class="nav-item"><a class="nav-link" href="/login">Log ind</a></li>
			{% endif %}

		</ul>
		</div>
</nav>
<br>
