{% extends 'layout.html' %}

{% block body %}

<div class="container">

<div class="row">
	<div class="col">
		<h2>Overblik</h2>
	</div>
	<div class="col">

	{% if employee.companyid == -1 %}
		<a href="/employee/{{employee.id}}/settings"><button type="button" class="btn btn-sm btn-primary float-right" name="button">Byd på kaffe</button></a>
	{% endif %}
	{% if employee.companyid == session.uid %}
		<a href="/employee/{{employee.id}}/settings"><button type="button" class="btn btn-sm btn-primary float-right" name="button">Tag en snak</button></a>
	{% endif %}

	</div>
</div>


<hr>
	<div class="row">
		<div class="col">
			<h2>{{companyname.companyname}}</h2>
		</div>
		<div class="col">
			<small>Navn</small>
			<p>{{employee.firstname}} {{employee.lastname}}</p>
		</div>
		<div class="col">
			<small>Alder</small>
			<p>{{employee.year}} år og {{employee.day}} dage</p>
		</div>
		<div class="col">
			<small>Land</small>
			<p>{{employee.country}}</p>
		</div>
	</div>
	<div class="row">
		<div class="col">

		</div>
		<div class="col">
			<small>Ansat som</small>
					<p>{{{"notitle":"Kaffehenter", "dev":"Programmør", "mark":"Promoter", "sale":"Sælger", "kurs":"Kursusansvarlig"}[employee.Jobtitle]}}</p>
		</div>
		<div class="col">

		</div>
		<div class="col">

		</div>

	</div>
	<br>
	<div class="row">
		<div class="col">
			<h3>Egenskaber</h3>
		</div>
		<div class="col">
			<small>Frontend</small>
			<p>{{employee.frontend}}</p>
		</div>
		<div class="col">
			<small>Backend</small>
			<p>{{employee.backend}}</p>
		</div>
		<div class="col">
			<small>Marketing</small>
			<p>{{employee.marketing}}</p>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<h5>Speciale</h5>
		</div>
		<div class="col">
			<small>Lyd</small>
			<p>{{employee.audio}}</p>
		</div>
		<div class="col">
			<small>Grafik</small>
			<p>{{employee.graphic}}</p>
		</div>
		<div class="col">
			<small>System</small>
			<p>{{employee.system}}</p>
		</div>
	</div>
	<div class="row">
		<div class="col">

		</div>
		<div class="col">
			<small>Opdaget af.</small>
			<p>{{companyname.discoveredby}}</p>
		</div>
		<div class="col">
			<small>Løn/dag</small>
			<p><b>{{employee.salary}}</b> kr</p>
		</div>
		<div class="col">
			<small>Sum</small>
			<p>{{employee.sum}}</p>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-2">
					<h3>Udvikling</h3>
		</div>
		<div class="col-md-10">


			<ul class="chart">
				{% for concentration in concentrations %}
				<li>
					<span style="height:{{concentration.xp}}%" title="{{concentration.date}}"> <b id="xptitle">{{concentration.xp}} XP</b> </span>
				</li>
				{% endfor %}
			</ul>


		</div>

	</div>

</div>

<style media="screen">
	.chart {
  font: 13px/1.3 'Lucida Grande',sans-serif;
  color: #666;
}

#xptitle {
	position: relative;
	left: 30px;
	top:10px;
}

.chart {
  display: table;
  table-layout: fixed;
  width: 60%;
  max-width: 700px;
  height: 200px;
  margin: 0 auto;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1) 2%, rgba(0, 0, 0, 0) 2%);
  background-size: 100% 50px;
  background-position: left top;
}
.chart li {
  position: relative;
  display: table-cell;
  vertical-align: bottom;
  height: 200px;
}
.chart span {
  margin: 0 1em;
  display: block;
  background: rgba(209, 236, 250, 0.75);
}
.chart span:before {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  padding: 5px 1em 0;
  display: block;
  text-align: center;
  content: attr(title);
  word-wrap: break-word;
}

@keyframes draw {
  0% {
    height: 0;
  }
}

</style>



{% endblock %}
