{% extends 'layout.html' %}


{% block body %}
<div class="container">

<h1>Arbejdsløse</h1>

<table class="table table-sm table-striped rounded" style="">
	<tr>
		<td>Navn</td>
		<td>Alder</td>
		<td>Lønkrav</td>
		<td>Stats</td>
	</tr>
	{% for employee in employees %}
	<tr>
		<td><a href="/employee/{{employee.id}}">{{employee.firstname}} {{employee.lastname}}</a></td>
		<td>{{employee.year}}</td>
		<td>{{employee.salary}} kr/dag</td>
		<td>{{employee.sum}}</td>
	</tr>
	{% endfor %}
</table>
</div>
{% endblock %}
