{% extends 'layout.html' %}


{% block body %}
<div class="container">

<h1>Arbejdsløse</h1>

<table class="table table-sm table-striped table-dark rounded" style="">
	<tr>
		<th>Navn</th>
		<th>Alder</th>
		<th>Lønkrav</th>
		<th>Stats</th>
	</tr>
	{% for employee in employees %}
	<tr>
		<td><a href="/employee/{{employee.id}}">{{employee.firstname}} {{employee.lastname}}</a></td>
		<td>{{employee.year}}</td>
		<td>{{employee.salary}} kr/dag</td>
		<td>{{employee.sum}}</td>
	</tr>
	{% endfor %}
</table>
</div>
{% endblock %}
