{% extends 'layout.html' %}

{% block body %}

<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h1>Faq</h1>
			<hr>

		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<h3><b>Koncept</b></h3>

		</div>
		<div class="col-sm-8">
			<p>Dit firma skal blive det bedste i spillet</p>
			<p>En måned svarer til et år i den virkelige verden, og en uge er et kvartal</p>

		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-sm-4">
			<h3>Projekter</h3>

		</div>
		<div class="col-sm-8">
			<p>For at tjene flere penge men med højere risiko, kan du oprette projekter</p>
			<p>Projekterne skal igennem to faser: <br><br>1. Udvikling<br>2. Marketing <br><br> Hver fase har en afgørelse for hvilken kvalitet dit produkt ender med at have. Jo længere tid du bruger på et projekt, desto større chnage er der for at det ender med at blive en success</p>

		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-sm-4">
			<h3>Ansatte</h3>

		</div>
		<div class="col-sm-8">
			<p>Hver dag kan du holde foredrag for dine spillere, så deres egenskaber kan stige, <br> Jo højere egenskaber, jo hurtigere kan du udvikle produkter og med bedre kvalitet</p>


		</div>
	</div>

</div>


{% endblock %}
