{% extends 'layout.html' %}

{% block body %}

<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h1>Faq</h1>
			<hr>

		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<h3><b>Koncept</b></h3>

		</div>
		<div class="col-sm-8">
			<p>Dit firma skal blive det bedste i spillet</p>
			<p>En måned svarer til et år i den virkelige verden, og en uge er et kvartal</p>

		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-sm-4">
			<h3>Projekter</h3>

		</div>
		<div class="col-sm-8">
			<p>For at tjene flere penge men med højere risiko, kan du oprette projekter</p>
			<p>Projekterne skal igennem to faser: <br><br>1. Udvikling<br>2. Marketing <br><br> Hver fase har en afgørelse for hvilken kvalitet dit produkt ender med at have. Jo længere tid du bruger på et projekt, desto større chnage er der for at det ender med at blive en success</p>

		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-sm-4">
			<h3>Ansatte</h3>

		</div>
		<div class="col-sm-8">
			<p>Hver dag kan du holde foredrag for dine spillere, så deres egenskaber kan stige, <br> Jo højere egenskaber, jo hurtigere kan du udvikle produkter og med bedre kvalitet</p>


		</div>
	</div>
<hr>
<div class="row">
	<div class="col">
		<h1>Virksomhedstyper</h1>
	</div>
</div>
<hr>
<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-2">
		<b>Freelance</b>
	</div>
	<div class="col-md-2">
		<b>Enkeltmands virksomhed</b>
	</div>
	<div class="col-md-2">
		<b>Mindre virksomhed</b>
	</div>
	<div class="col-md-2">
		<b>Aps</b>
	</div>
	<div class="col-md-2">
		<b>Aktieselskab</b>
	</div>
	<div class="col-md-1"></div>
</div>

<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-2">
		<p>Du er lige startet. For at tjene penge kan du påtage dig eksterne forespørgelser</p>
	</div>
	<div class="col-md-2">
		<p>Du kan starte på dine egne projeker</p>
	</div>
	<div class="col-md-2">
		<p>Du kan hente nyuddannede og ansætte medarbejdere</p>
	</div>
	<div class="col-md-2">
		<p>Du kan tilbyde folk at købe andele i dit firma</p>
	</div>
	<div class="col-md-2">
		<p>Du er på børsen</p>
	</div>
	<div class="col-md-1"></div>
</div>

</div>


{% endblock %}
