{% extends 'layout.html' %}

{% block body %}

<div class="container">
	<div class="row">
		<div class="col-sm-12">
      <h1>Ny opdatering</h1>
      <small>Vi forbedre hele tiden vores system, så du får den bedste oplevelse.</small>
		</div>
	</div>
  <hr>
  <div class="row">
		<div class="col-md-2">
			<h2>0.91</h2>
		</div>
		<div class="col-md-8">
			<ul>
				<li>Man skal nu give ansatte en titel. <i>( [ansat] -> tag en snak -> skift jobtitel )</i></li>
				<ul>
					<li>Det er godt at have nogle i hver afdeling.</li>
				</ul>
				<li>Man kan nu opgradere uddannelsesfacilitet.</li>
			</ul>
			<hr>
		</div>
    <div class="col-md-2">
      <a href="/globalmsgOK"><button type="button" name="button" class="btn btn-lg btn-success">OK</button></a>
    </div>
	</div>
  <div class="row">
    <div class="col">
      <small>Man kan altid se nye opdateringer <a href="/patchnotes">her</a>.</small>
    </div>
  </div>

</div>


{% endblock %}
