{% extends 'layout.html' %}

{% block body %}


<!-- <div class="card">
  <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>John Doe</b></h4>
    <p>CEO</p>
  </div>
</div> -->



<div id="container">

<div class="row">
	<div id="centerbox" class="col-md-8 col-centered">
		<div id="landing" class="jumbotron" style="color:black">


		<h1 class="display-4">Financy</h1>
			<p class="lead">
				Hyr arbejdere til at designe og udgive produkter.
				Uddan dine ansatte for at sikre deres produktivitet og tilfredshed med jobbet.
				Spil mod andre virksomheder af andre brugere og gå efter at blive den største virksomhed på markedet. <br><br>Systemet opdaterer hver halve og hele time.</p>



				{% if session.logged_in == NULL %}
					<a class="btn btn-primary" href="/login"><span>Login</span></a>
					<a class="btn btn-secondary" href="/register"><span>Opret bruger</span></a>
				{% else %}
					<a class="btn btn-secondary" href="/office/{{session.uid}}"><span>Gå til kontoret</span></a>
				{% endif %}
				</div>
	</div>
</div>



</div>


<style>
	.col-centered{
    float: none;
    margin: 0 auto;
	}

	body {
		background: #DFC2F2;
		background-image: linear-gradient( 135deg, #CE9FFC 10%, #3d7aff 100%);
		background-attachment: fixed;
		background-size: cover;
		}
</style>

{% endblock %}
