{% extends 'layout.html' %}

{% block body %}

<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h1>Markedet</h1>
			<table id = "dtBasicExample" class="table table-sm table-striped table-dark">
				<thead>
					<tr>
						<th>Firma</th>
						<th>CEO</th>
						<th>Fans</th>
						<th>Produkter</th>
						<th>Værdi</th>
					</tr>
				</thead>
				<tbody>
					{% for company in companies %}
					<tr>
						<td><a href="/office/{{company.uid}}">{{company.companyname}}</a></td>
						<td>{{company.ceo}}</td>
						<td>{{company.fans}}</td>
						<td>{{company.productsum}}</td>
						<td>{{company.valuation}}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

</div>


{% endblock %}
