{% extends 'layout.html' %}

{% block body %}


<div class="container">
	{% if company.uid == session.uid %}
<div class="row">
	<div class="col-sm-6">
		<small>Midler</small>
		<p><b>{{company.money}}</b> ,-</p>
	</div>
	<div class="col-sm-6">
		{% if company.companytype > 1 %}
		<div class="float-right">
			<a href="/createEmployee"><button class="btn btn-primary btn-sm" type="button" name="button">Headhunt</button></a>
			<a href="/educate"><button class="btn btn-sm btn-primary" type="button" name="button">Hold Foredrag</button></a>
			<a href="/createWork"><button type="button" name="button" class="btn btn-success btn-sm">Ny forespørgsel</button></a>
			<a href="/createTask"><button type="button" name="button" class="btn btn-success btn-sm">Nyt projekt</button></a>
		</div>
		{% else %}
		<div class="float-right">
			<a href="/createWork"><button type="button" name="button" class="btn btn-success btn-sm">Ny forespørgsel</button></a>
		</div>
		{% endif %}
	</div>

</div>
	{% endif %}

<hr>
<div class="row" >
	<div class="col-sm-2 col-md-3">
		<img src="{{logo}}" width="100%">
		{% if company.uid == session.uid %}
		<a href="/upload"><button type="button" class="btn btn-sm btn-dark" name="button">Nyt logo</button></a>
		{% endif %}
	</div>
	<div class="col-sm-1 col-md-3">
		<small>Firma</small>
		<p><b>{{company['companyname']}}</b></p>
		<div class="row">
			<div class="col">
				<small>Firmatype ({{company.companytype}}/5)
						<a href="/upgradeCompany">
								<i style="color:white;" class="fas fa-angle-up"></i>
					 	</a>
				</small>
				<p>{{{1:"Freelance", 2:"Enkeltmands virksomhed", 3:"Mindre virksomhed", 4:"Aps", 5:"Aktieselskab"}[company.companytype]}}</p>
			</div>
		</div>

	</div>
	<div class="col-sm-1 col-md-3">
		<div class="row">
			<div class="col">
				<small>CEO</small>
				<p>{{company.ceo}}</p>
			</div>

		</div>
		<div class="row">
			<div class="col">
				<small>
					Kontor ({{company['office']}}/10)
					{% if company.uid == session.uid %}
					<a href="/upgradeOffice">
						<i style="color:white;" class="fas fa-angle-up"></i>
				 	</a>
					{% endif %}
				</small>
				<p>{{{1:"Garage",2:"Kælder", 3:"kontorfællesskab", 4:"Erhvervslejlihed", 5:"Ehvervsejendom", 6:"Stor erhversejendom"}[company.office]}}</p>

			</div>

		</div>
	</div>
	<div class="col-sm-1 col-md-3">
		<div class="row">
			<div class="col">
				<small>Fans</small>
				<p><b>{{company['fans']}}</b></p>
			</div>

		</div>
		<div class="row">
			<div class="col">
				<small>
					Uddannelse ({{company['education']}}/10)
					{% if company.uid == session.uid %}
					<a href="/upgradeEducation">
						<i style="color:white;" class="fas fa-angle-up"></i>
					</a>
					{% endif %}
				</small>
				<p>{{{1:"Selvstudie", 2:"YouTube", 3:"Lektiehjælp", 4:"Interne kurser", 5:"Akademisk niveau"}[company.education]}}</p>
			</div>

		</div>

	</div>

</div>



<hr>

{% if company.companytype > 1 %}

<div class="row">
	<div class="{% if company.companytype > 2 %} col-sm-8 {% else %} col-md-12 {% endif %}">


		<small>Udvikling ( {{teamsizes.dev}} på teamet )</small>
		<table class="table table-sm table-striped table-dark rounded" style="">
		<tr>
			<th>Navn</th>
			<th>Kvalitet</th>
			<th>Fremskridt</th>
			{% if company.uid == session.uid %}
			<th></th>
			{% endif %}

		</tr>

			{% for task in tasks %}
			{% if task['sold'] == 0 and task.status == 0%}
			<tr>
				<td><a href="/task/{{task['id']}}">{{task['title']}}</a></a></td>
				<td>{{task.quality}}</td>
				<td>
						<p style = "color: {% if task.progress < 80 %} red; {% else %} green; {% endif %}">{{task.progress}} %</p>
				</td>

				{% if company.uid == session.uid %}
						<td><a href="/promoteTask/{{task['id']}}"><button class="btn btn-sm {% if task['progress'] > 90 %} btn-success {% else %} btn-secondary {% endif %}" type="button"> Promovér </button></a></td>
				{% endif %}

			</tr>
			{% endif %}
			{% endfor %}
		</table>
		<br>

		<small>Marketing ( {{teamsizes.mark}} på teamet )</small>
		<table class="table table-sm table-striped table-dark rounded" style="">
		<tr>
			<th>Navn</th>
			<th>Kvalitet</th>
			<th>Reach</th>
			<th>Fremskridt</th>
			{% if company.uid == session.uid %}
			<th></th>
			{% endif %}

		</tr>

			{% for task in tasks %}
			{% if task['sold'] == 0 and task.status == 1%}
			<tr>
				<td><a href="/task/{{task['id']}}">{{task['title']}}</a></td>
				<td>{{task.quality}} %</td>
				<td>{{task['reach']}}</td>
				<td>
					<p style = "color: {% if task.progress < 80 %} red; {% else %} green; {% endif %}">{{task.progress}} %</p>
				</td>


				{% if company.uid == session.uid %}
						<td><a href="/sellTask/{{task['id']}}"><button class="btn btn-sm {% if task['progress'] > 90 %} btn-success {% else %} btn-secondary {% endif %}" type="button"> Færdiggør </button></a></td>
				{% endif %}

			</tr>
			{% endif %}
			{% endfor %}
		</table>
		<br>
		</div>
		{% if company.companytype > 2 %}
		<div class="col-sm-4">
			<small>Ansatte ({{teamsizes.total}})</small>
			<table class="table table-sm table-striped table-dark rounded" style="width:100%;">
				{% for employee in stab %}
				<tr>
					<td><small> {% if employee.Jobtitle == 'notitle' %}<b style="color:red">!</b>{% else %}<b>{{{"dev":"U", "mark":"M", "sale":"S", "kurs":"K"}[employee.Jobtitle]}}</b>{% endif %}</small></td>
					<td><a style="" href="/employee/{{employee.id}}">{{employee.firstname}} {{employee.lastname}}</a></td>
					<td>{{employee.sum}}</td>
				</tr>
				{% endfor %}
			</table>
		</div>
		{% endif %}

		</div>
		<br>
		<div class="row">
			<div class="col-sm-12 col-md-12">
				<small>Salg ( {{teamsizes.sale}} på teamet )</small>
				<table class="table table-sm table-striped table-dark rounded">
					<tr>
						<th>Navn</th>
						<th>Potentiale</th>
						<th>Kvalitet</th>
						<th>Salgpris</th>
						<th>Reach</th>
						<th>På lager</th>
						<th>Fortjeneste</th>
						{% if company.uid == session.uid %}
						<th></th>
						<th></th>
						{% endif %}

					</tr>

					{% for task in tasks %}
					{% if task['sold'] == 0 and task.status == 2%}
					<tr>
						<td><a href="/task/{{task['id']}}">{{task['title']}}</a></td>
						<td>{{task.potential}}</td>
						<td>{{task.quality}}</td>
						<td>{{task.retail}} ,-</td>
						<td>{{task['reach']}}</td>
						<td>
							<p style = "color: {% if task.copies < 25 %} red; {% else %} green; {% endif %}">{{task.copies}}</p>
						</td>
						<td>
							<p style = "color: {% if task.value <= 0 %} red; {% else %} green; {% endif %}">{{ "{:,}".format(task['value']) }} ,-</p>
					</td>

					{% if company.uid == session.uid %}
						<td><a href="/copies/{{task['id']}}"><button class="btn btn-sm btn-primary" type="button">Producér</button></a></td>
						<td><a href="/cancelTask/{{task['id']}}"><button class="btn btn-sm btn-danger" type="button">Nedlæg</button></a></td>
					{% endif %}

				</tr>
				{% endif %}
				{% endfor %}
			</table>
		<br>



	</div>



</div>

<div class="row">
 <div class="col-md-12">
	 <small>Forespørgelser</small>
	 <table class="table table-sm table-striped table-dark rounded" style="">
	 <tr>
		 <th>Navn</th>
		 <th>Fremskridt</th>
		 <th>Udbytte</th>
		 {% if company.uid == session.uid %}
		 <th></th>
		 {% endif %}

	 </tr>

		 {% for task in tasks %}
		 {% if task.status == 10%}
		 <tr>
			 <td>{{task.title}}</td>
			 <td>
					 <p style = "color: {% if task.progress < 80 %} red; {% else %} green; {% endif %}">{{task.progress}} %</p>
			 </td>
			 <td>{{"{:,}".format(task.value)}} kr</td>

			 {% if company.uid == session.uid %}
					 <td><a href="/sellWork/{{task.workid}}"><button class="btn btn-sm {% if task['progress'] > 90 %} btn-success {% else %} btn-secondary {% endif %}" type="button"> Sælg </button></a></td>
			 {% endif %}

		 </tr>
		 {% endif %}
		 {% endfor %}
	 </table>
 </div>
</div>

{% else %}
 <div class="row">
 	<div class="col-md-12">
		<small>Forespørgelser</small>
		<table class="table table-sm table-striped table-dark rounded" style="">
		<tr>
			<th>Navn</th>
			<th>Fremskridt</th>
			<th>Udbytte</th>
			{% if company.uid == session.uid %}
			<th></th>
			{% endif %}

		</tr>

			{% for task in tasks %}
			{% if task.status == 10%}
			<tr>
				<td>{{task.title}}</td>
				<td>
						<p style = "color: {% if task.progress < 80 %} red; {% else %} green; {% endif %}">{{task.progress}} %</p>
				</td>
				<td>{{"{:,}".format(task.value)}} kr</td>

				{% if company.uid == session.uid %}
						<td><a href="/sellWork/{{task.workid}}"><button class="btn btn-sm {% if task['progress'] > 90 %} btn-success {% else %} btn-secondary {% endif %}" type="button"> Sælg </button></a></td>
				{% endif %}

			</tr>
			{% endif %}
			{% endfor %}
		</table>
 	</div>
 </div>
{% endif %}

<br>
<br>
<br>

<style>

th:last-child,
td:last-child {
    text-align: right;
}

</style>


{% endblock %}
