{% extends 'layout.html' %}

{% block body %}

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1>Patchnotes</h1>
			<hr>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">
			<h2>0.91</h2>
		</div>
		<div class="col-md-10">
			<ul>
				<li>Man skal nu give ansatte en titel. <i>( [ansat] -> tag en snak -> skift jobtitel )</i></li>
				<ul>
					<li>Det er godt at have nogle i hver afdeling.</li>
				</ul>
				<li>Man kan nu opgradere uddannelsesfacilitet.</li>
			</ul>
			<hr>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">
			<h2>0.90</h2>
		</div>
		<div class="col-md-10">
			<ul>
			  <li>Det er nu blevet vigtigere at have gode ansatte.</li>
			  <li>Man kan nu købe et større kontor.</li>
			</ul>
			<hr>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">
			<h2>0.87</h2>
		</div>
		<div class="col-md-10">
			<ul>
				<li>Brugere kan uploade logoer.</li>
			</ul>
			<hr>
		</div>
	</div>
</div>

{% endblock %}
