{% extends 'layout.html' %}

{% block body %}

<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h1>Opgradér virksomhedstype</h1>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-sm-12">
			<h3>{{{1:"Freelance", 2:"Enkeltmands virksomhed", 3:"Mindre virksomhed", 4:"Aps", 5:"Aktieselskab"}[companytype]}} <small>til</small> {{{2:"Enkeltmands virksomhed", 3:"Mindre virksomhed", 4:"Aps", 5:"Aktieselskab"}[companytype+1]}}</h3>
		</div>

	</div>
	<div class="row">

		<div class="col-sm-12">
			<h1>Pris {{{1:"300.000",
									2:"1.000.000",
									3:"3.000.000"}[companytype]}} ,- 			<form  method="POST">
																											<button type="submit" name="button" class="btn btn-primary">Køb</button>
																										</form></h1>
		</div>

	</div>
</div>

{% endblock %}
